{
    "plugins": [
      "react",
      "prettier"
    ],
    "extends": [
      "react-app",
      "airbnb",
      "prettier"
    ],
    "rules": {
      "prettier/prettier": [
        "warn",
        {
          "singleQuote": true
        }
      ],
      "react/jsx-filename-extension": [
        "warn",
        {
          "extensions": [
            ".js",
            ".jsx"
          ]
        }
      ]
    },
    "env": {
      "browser": true
    }
  }